body
{
    margin: 0;
    background: #2980B9;
    font-weight: 400;
    font-family: sans-serif;
}

.centerImage
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

header
{
    background: #2980B9;
}

header::after
{
    content: "";
    display: table;
    clear: both;
}

.container
{
    width: 80%;
    margin: 0 auto;
}

.title
{
    float: left;
    color: white;
    margin-left: 35px;
}

nav
{
    float: right;
}

nav ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li
{
    display: inline-block;
    margin-left: 35px;
    padding-top: 25px;

    position:  relative;
}

nav ul li a
{
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
}

nav ul li a:hover
{
    color: rgb(196, 196, 196);
}

nav ul li a::before
{
    content: "";
    display: block;
    height: 5px;
    background-color: white;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav ul li a:hover::before
{
    width: 100%;
}
nav ul li a:visited
{
  background-color: white;
}
