

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>1259Vision module &mdash; Vision2020 1.0 documentation</title>








  <script type="text/javascript" src="{{ url_for("static", filename="doc/_static/js/modernizr.min.js")}}"></script>


      <script type="text/javascript" id="documentation_options" data-url_root="./" src="{{ url_for("static", filename="doc/_static/documentation_options.js")}}"></script>
        <script src="{{ url_for("static", filename="doc/_static/jquery.js")}}"></script>
        <script src="{{ url_for("static", filename="doc/_static/underscore.js")}}"></script>
        <script src="{{ url_for("static", filename="doc/_static/doctools.js")}}"></script>
        <script src="{{ url_for("static", filename="doc/_static/language_data.js")}}"></script>

    <script type="text/javascript" src="{{ url_for("static", filename="doc/_static/js/theme.js")}}"></script>




  <link rel="stylesheet" href="{{ url_for("static", filename="doc/_static/css/theme.css")}}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for("static", filename="doc/_static/pygments.css")}}" type="text/css" />
    <link rel="index" title="Index" href="doc/genindex.html" />
    <link rel="search" title="Search" href="doc/search.html" />
    <link rel="next" title="Normalize module" href="/NormalizeDocumentation/" />
    <link rel="prev" title="_source" href="doc/modules.html" />
</head>

<body class="wy-body-for-nav">
  <header>
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css")}}" type="text/css">
    <script src="{{ url_for("static", filename="Script.js")}}"></script>
    <h1 class="title">1259 Vision</h1>
    <div class="container">

        <nav>
            <ul>
                <li><a href="/">Video Stream</a></li>
                <li><a href="/documentationHome/">Documentation</a></li>
                <li><a href="#">1259 Vision Doc</a></li>
                <li><a href="/NormalizeDocumentation/">Normalize Doc</a></li>
            </ul>

        </nav>

    </div>

  </header>


  <div class="wy-grid-for-nav">

    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >



            <a href="start.html" class="icon icon-home"> Vision2020



          </a>







<div role="search">
  <form id="rtd-search-form" class="wy-form" action="static/doc/search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>


        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">






              <p class="caption"><span class="caption-text">Contents:</span></p>
<ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="static/doc/modules.html">_source</a><ul class="current">
<li class="toctree-l2 current"><a class="current reference internal" href="#">1259Vision module</a></li>
<li class="toctree-l2"><a class="reference internal" href="/NormalizeDocumentation/">Normalize module</a></li>
</ul>
</li>
</ul>



        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">


      <nav class="wy-nav-top" aria-label="top navigation">

          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="/documentationHome/">Vision2020</a>

      </nav>


      <div class="wy-nav-content">

        <div class="rst-content">

















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">

      <li><a href="start.html">Docs</a> &raquo;</li>

          <li><a href="static/doc/modules.html">_source</a> &raquo;</li>

      <li>1259Vision module</li>


      <li class="wy-breadcrumbs-aside">


            <a href="static/doc/_sources/1259Vision.rst.txt" rel="nofollow"> View page source</a>


      </li>

  </ul>


  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">

  <div class="section" id="module-1259Vision">
<span id="vision-module"></span><h1>1259Vision module<a class="headerlink" href="#module-1259Vision" title="Permalink to this headline">¶</a></h1>
<dl class="py function">
<dt id="Vision.FunStuff">
<span id="1259Vision.FunStuff"></span><code class="sig-prename descclassname">1259Vision.</code><code class="sig-name descname">FunStuff</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#Vision.FunStuff" title="Permalink to this definition">¶</a></dt>
<dd><p>Simply have fun while coding, nothing major</p>
</dd></dl>

<dl class="py function">
<dt id="Vision.InitializeVariables">
<span id="1259Vision.InitializeVariables"></span><code class="sig-prename descclassname">1259Vision.</code><code class="sig-name descname">InitializeVariables</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#Vision.InitializeVariables" title="Permalink to this definition">¶</a></dt>
<dd><p>Initialize all the static variables that will be needed and make them global</p>
</dd></dl>

<dl class="py function">
<dt id="Vision.ScaleImage">
<span id="1259Vision.ScaleImage"></span><code class="sig-prename descclassname">1259Vision.</code><code class="sig-name descname">ScaleImage</code><span class="sig-paren">(</span><em class="sig-param"><span class="n">scale_percent</span></em><span class="sig-paren">)</span><a class="headerlink" href="#Vision.ScaleImage" title="Permalink to this definition">¶</a></dt>
<dd><p>Return scaling dimensions</p>
<dl class="field-list simple">
<dt class="field-odd">Parameters</dt>
<dd class="field-odd"><p><strong>scale_percent</strong> (<em>int</em>) – How much to scale the image by.</p>
</dd>
<dt class="field-even">Returns</dt>
<dd class="field-even"><p><strong>Dimension</strong> – Width x Height [Integers]</p>
</dd>
<dt class="field-odd">Return type</dt>
<dd class="field-odd"><p>int</p>
</dd>
</dl>
</dd></dl>

<dl class="py function">
<dt id="Vision.SetupFrontCamera">
<span id="1259Vision.SetupFrontCamera"></span><code class="sig-prename descclassname">1259Vision.</code><code class="sig-name descname">SetupFrontCamera</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#Vision.SetupFrontCamera" title="Permalink to this definition">¶</a></dt>
<dd><p>To initialize the front camera and set the resolution to 640x480</p>
</dd></dl>

<dl class="py function">
<dt id="Vision.SetupLogging">
<span id="1259Vision.SetupLogging"></span><code class="sig-prename descclassname">1259Vision.</code><code class="sig-name descname">SetupLogging</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#Vision.SetupLogging" title="Permalink to this definition">¶</a></dt>
<dd><p>To setup a logging interface with the lowest level as INFO</p>
</dd></dl>

<dl class="py function">
<dt id="Vision.UpdateFile">
<span id="1259Vision.UpdateFile"></span><code class="sig-prename descclassname">1259Vision.</code><code class="sig-name descname">UpdateFile</code><span class="sig-paren">(</span><em class="sig-param"><span class="n">filePath</span></em><span class="sig-paren">)</span><a class="headerlink" href="#Vision.UpdateFile" title="Permalink to this definition">¶</a></dt>
<dd><p>Read in the match number form a file an then increment that number by 1. Indicating new match</p>
<dl class="field-list simple">
<dt class="field-odd">Parameters</dt>
<dd class="field-odd"><p><strong>filePath</strong> (<em>str</em>) – The file path for the file that contains information about match number</p>
</dd>
<dt class="field-even">Raises</dt>
<dd class="field-even"><p><strong>FileNotFoundError</strong> – This error will be raised if the input file is not found.</p>
</dd>
</dl>
</dd></dl>

<dl class="py function">
<dt id="Vision.UpdateVariables">
<span id="1259Vision.UpdateVariables"></span><code class="sig-prename descclassname">1259Vision.</code><code class="sig-name descname">UpdateVariables</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#Vision.UpdateVariables" title="Permalink to this definition">¶</a></dt>
<dd><p>Update the necessary variables given image information.
See PDF on Github to understand how these calculations are done</p>
</dd></dl>

<dl class="py function">
<dt id="Vision.Vision">
<span id="1259Vision.Vision"></span><code class="sig-prename descclassname">1259Vision.</code><code class="sig-name descname">Vision</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#Vision.Vision" title="Permalink to this definition">¶</a></dt>
<dd><p>This function does all the vision processing including image manipulation, distance calculation, and distance publishing.
This function is what is repeated in the forever loop.</p>
<dl class="field-list simple">
<dt class="field-odd">Raises</dt>
<dd class="field-odd"><p><strong>AttributError</strong> – This exception is caught and taken care of if risen. This error occurs when a ball is not found and processing is done on a blank image.</p>
</dd>
</dl>
</dd></dl>

</div>


           </div>

          </div>
          <footer>

    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">

        <a href="Normalize.html" class="btn btn-neutral float-right" title="Normalize module" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>


        <a href="doc/modules.html" class="btn btn-neutral float-left" title="_source" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>

    </div>


  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2020, Agastya Asthana Ping Xue

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>.

</footer>

        </div>
      </div>

    </section>

  </div>



  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>






</body>
</html>
