<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Vision stream</title>
    <link href="{{ url_for("static", filename="style.css")}}" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <h1 class="title">1259 Vision</h1>
        <div class="container">

            <nav>
                <ul>
                    <li><a href="#">Video Stream</a></li>
                    <li><a href="/documentationHome/">Documentation</a></li>
                    <li><a href="/1259documentation/">1259 Vision Doc</a></li>
                    <li><a href="/NormalizeDocumentation/">Normalize Doc</a></li>
                </ul>

            </nav>

        </div>

    </header>
    <h2 id="StreamHeader">Your Stream is located below</h2>
    {% block image %}
    {% endblock %}
    <script src="{{url_for("static", filename="Script.js")}}"></script>
</body>
</html>
