

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Normalize module &mdash; Vision2020 1.0 documentation</title>








  <script type="text/javascript" src="{{ url_for("static", filename="doc/_static/js/modernizr.min.js")}}"></script>


      <script type="text/javascript" id="documentation_options" data-url_root="./" src="{{ url_for("static", filename="doc/_static/documentation_options.js")}}"></script>
        <script src="{{ url_for("static", filename="doc/_static/jquery.js")}}"></script>
        <script src="{{ url_for("static", filename="doc/_static/underscore.js")}}"></script>
        <script src="{{ url_for("static", filename="doc/_static/doctools.js")}}"></script>
        <script src="{{ url_for("static", filename="doc/_static/language_data.js")}}"></script>

    <script type="text/javascript" src="{{ url_for("static", filename="doc/_static/js/theme.js")}}"></script>




  <link rel="stylesheet" href="{{ url_for("static", filename="doc/_static/css/theme.css")}}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for("static", filename="doc/_static/pygments.css")}}" type="text/css" />
    <link rel="index" title="Index" href="genindex.html" />
    <link rel="search" title="Search" href="search.html" />
    <link rel="prev" title="1259Vision module" href="/1259documentation/" />
</head>

<body class="wy-body-for-nav">
  <header>
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css")}}" type="text/css">
    <script src="{{ url_for("static", filename="Script.js")}}"></script>
    <h1 class="title">1259 Vision</h1>
    <div class="container">

        <nav>
            <ul>
                <li><a href="/">Video Stream</a></li>
                <li><a href="/documentationHome/">Documentation</a></li>
                <li><a href="/1259documentation/">1259 Vision Doc</a></li>
                <li><a href="#">Normalize Doc</a></li>
            </ul>

        </nav>

    </div>

  </header>


  <div class="wy-grid-for-nav">

    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >



            <a href="index.html" class="icon icon-home"> Vision2020



          </a>







<div role="search">
  <form id="rtd-search-form" class="wy-form" action="search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>


        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">






              <p class="caption"><span class="caption-text">Contents:</span></p>
<ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="static/doc/modules.html">_source</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="1259Vision.html">1259Vision module</a></li>
<li class="toctree-l2 current"><a class="current reference internal" href="#">Normalize module</a></li>
</ul>
</li>
</ul>



        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">


      <nav class="wy-nav-top" aria-label="top navigation">

          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="start.html">Vision2020</a>

      </nav>


      <div class="wy-nav-content">

        <div class="rst-content">

















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">

      <li><a href="index.html">Docs</a> &raquo;</li>

          <li><a href="modules.html">_source</a> &raquo;</li>

      <li>Normalize module</li>


      <li class="wy-breadcrumbs-aside">


            <a href="_sources/Normalize.rst.txt" rel="nofollow"> View page source</a>


      </li>

  </ul>


  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">

  <div class="section" id="module-Normalize">
<span id="normalize-module"></span><h1>Normalize module<a class="headerlink" href="#module-Normalize" title="Permalink to this headline">¶</a></h1>
<dl class="py class">
<dt id="Normalize.SmoothenClass">
<em class="property">class </em><code class="sig-prename descclassname">Normalize.</code><code class="sig-name descname">SmoothenClass</code><span class="sig-paren">(</span><em class="sig-param"><span class="n">order</span></em><span class="sig-paren">)</span><a class="headerlink" href="#Normalize.SmoothenClass" title="Permalink to this definition">¶</a></dt>
<dd><p>Bases: <code class="xref py py-class docutils literal notranslate"><span class="pre">object</span></code></p>
<p>Class for smoothening out the data</p>
<dl class="py method">
<dt id="Normalize.SmoothenClass.AddValue">
<code class="sig-name descname">AddValue</code><span class="sig-paren">(</span><em class="sig-param"><span class="n">string</span></em>, <em class="sig-param"><span class="n">index</span></em>, <em class="sig-param"><span class="n">float</span></em><span class="sig-paren">)</span><a class="headerlink" href="#Normalize.SmoothenClass.AddValue" title="Permalink to this definition">¶</a></dt>
<dd><p>Use this function to add values to the arrays</p>
<dl class="field-list simple">
<dt class="field-odd">Parameters</dt>
<dd class="field-odd"><ul class="simple">
<li><p><strong>string</strong> (<em>str</em>) – Specify X or Y array.</p></li>
<li><p><strong>index</strong> (<em>int</em>) – Where in the array to add the value.</p></li>
<li><p><strong>float</strong> (<em>float</em>) – The actual value that is to be added.</p></li>
</ul>
</dd>
</dl>
</dd></dl>

<dl class="py method">
<dt id="Normalize.SmoothenClass.ReturnPrediction">
<code class="sig-name descname">ReturnPrediction</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#Normalize.SmoothenClass.ReturnPrediction" title="Permalink to this definition">¶</a></dt>
<dd><p>Return a predicted value</p>
<dl class="field-list simple">
<dt class="field-odd">Returns</dt>
<dd class="field-odd"><p>Predictor(timeLapsed)</p>
</dd>
<dt class="field-even">Return type</dt>
<dd class="field-even"><p>float</p>
</dd>
</dl>
</dd></dl>

</dd></dl>

</div>


           </div>

          </div>
          <footer>

    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">


        <a href="1259Vision.html" class="btn btn-neutral float-left" title="1259Vision module" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>

    </div>


  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2020, Agastya Asthana Ping Xue

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>.

</footer>

        </div>
      </div>

    </section>

  </div>



  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>






</body>
</html>
