

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <header>
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css")}}" type="text/css">
    <script src="{{ url_for("static", filename="Script.js")}}"></script>
    <h1 class="title">1259 Vision</h1>
    <div class="container">

        <nav>
            <ul>
                <li><a href="/">Video Stream</a></li>
                <li><a href="#">Documentation</a></li>
                <li><a href="/1259documentation/">1259 Vision Doc</a></li>
                <li><a href="/NormalizeDocumentation/">Normalize Doc</a></li>
            </ul>

        </nav>

    </div>

  </header>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Welcome to Vision2020’s documentation! &mdash; Vision2020 1.0 documentation</title>
  

  
  
  
  

  
  <script type="text/javascript" src="{{ url_for("static", filename="doc/_static/js/modernizr.min.js")}}"></script>
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="./" src="{{ url_for("static", filename="doc/_static/documentation_options.js")}}"></script>
        <script src="{{ url_for("static", filename="doc/_static/jquery.js")}}"></script>
        <script src="{{ url_for("static", filename="doc/_static/underscore.js")}}"></script>
        <script src="{{ url_for("static", filename="doc/_static/doctools.js")}}"></script>
        <script src="{{ url_for("static", filename="doc/_static/language_data.js")}}"></script>
    
    <script type="text/javascript" src="{{ url_for("static", filename="_static/js/theme.js")}}"></script>

    

  
  <link rel="stylesheet" href="{{ url_for("static", filename="doc/_static/css/theme.css")}}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for("static", filename="doc/_static/pygments.css")}}" type="text/css" />
    <link rel="index" title="Index" href="{{ url_for("static", filename="doc/genindex.html")}}" />
    <link rel="search" title="Search" href="{{ url_for("static", filename="doc/search.html")}}" />
    <link rel="next" title="_source" href="{{ url_for("static", filename="doc/modules.html")}}" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="#" class="icon icon-home"> Vision2020
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <p class="caption"><span class="caption-text">Contents:</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="{{ url_for("static", filename="doc/modules.html")}}">_source</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="#">Vision2020</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="#">Docs</a> &raquo;</li>
        
      <li>Welcome to Vision2020’s documentation!</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="_sources/index.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="welcome-to-vision2020-s-documentation">
<h1>Welcome to Vision2020’s documentation!<a class="headerlink" href="#welcome-to-vision2020-s-documentation" title="Permalink to this headline">¶</a></h1>
<p>This web page contains the documentation for Team 1259’s 2020 Vision Code
This documentation features Numpy-style docstrings</p>
<div class="toctree-wrapper compound">
<p class="caption"><span class="caption-text">Contents:</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="{{ url_for("static", filename="doc/modules.html")}}">_source</a><ul>
<li class="toctree-l2"><a class="reference internal" href="/1259documentation/">1259Vision module</a></li>
<li class="toctree-l2"><a class="reference internal" href="/NormalizeDocumentation/">Normalize module</a></li>
</ul>
</li>
</ul>
</div>
</div>
<div class="section" id="indices-and-tables">
<h1>Indices and tables<a class="headerlink" href="#indices-and-tables" title="Permalink to this headline">¶</a></h1>
<ul class="simple">
<li><p><a class="reference internal" href="{{ url_for("static", filename="doc/genindex.html")}}"><span class="std std-ref">Index</span></a></p></li>
<li><p><a class="reference internal" href="{{ url_for("static", filename="doc/py-modindex.html")}}"><span class="std std-ref">Module Index</span></a></p></li>
<li><p><a class="reference internal" href="{{ url_for("static", filename="search.html")}}"><span class="std std-ref">Search Page</span></a></p></li>
</ul>
</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="modules.html" class="btn btn-neutral float-right" title="_source" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2020, Agastya Asthana Ping Xue

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>